@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);

body {
    margin: 0;
    padding: 0;
}

html {
    overflow: scroll;
    overflow-x: hidden;
    position: fixed;
	overflow-y: scroll;
    width: 100%;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
/*head end*/

.logo {
    position: absolute;
    background-image: url(../img/logo.png);
    width: 150px;
    height: 150px;
    background-size: 100%;
    margin-top: -30px;
    margin-left: 50px;
}

.menu li {
    width: 150px;
    height: 25px;
    text-align: center;
    float: right;
    margin-right: 20px;
    margin-top: 15px;
    line-height: 35px;
    text-align: center;
}

.menu-style {
    list-style-type: none;
    font-size: 15px;
    font-family: 'NanumSquare', sans-serif;
    font-weight: bold;
}

header .intro-message {
    padding: 18rem 10em 0 4rem;
    text-align: left;
    color: black;
    font-family: 'NanumSquare', sans-serif;
    font-weight: 100;
    font-size: 20px;
}

.menu li > a {
    text-decoration: none;
}

.barogagi-button {
    padding-top: 5px;
    background-color: #485563;
    border-radius: 50px;
    width: 7%;
    height: 40px;
    margin-left: 46.5%;
    text-align: center;
    line-height: 36px;
    font-weight: bold;
    color: white;
}

header .center-message {
    padding: 7rem 10em 0 13rem;
    text-align: center;
    color: black;
    font-family: 'NanumSquare', sans-serif;
    font-weight: 100;
    font-size: 20px;
}

.foo-line {
    background-color: black;
    margin-left: 17.5%;
    margin-top: 3%;
    width: 65%;
    height: 1px;
}


.box {
    width: 15%;
    height: 250px;
    margin-top: 20px;
    margin-left: 17.5%;
    box-shadow: 0 1px 5px rgba(0,0,0,0.06),0 1px 5px rgba(0,0,0,0.12);
}

.box1 {
    width: 15%;
    height: 250px;
    margin-top: -14.85%;
    margin-left: 34.5%;
    box-shadow: 0 1px 5px rgba(0,0,0,0.06),0 1px 5px rgba(0,0,0,0.12);
}

.box2 {
    width: 15%;
    height: 250px;
    margin-top: -14.85%;
    margin-left: 51.5%;
    box-shadow: 0 1px 5px rgba(0,0,0,0.06),0 1px 5px rgba(0,0,0,0.12);
}

.box3 {
    width: 15%;
    height: 250px;
    margin-top: -14.85%;
    margin-left: 68.5%;
    box-shadow: 0 1px 5px rgba(0,0,0,0.06),0 1px 5px rgba(0,0,0,0.12);
}

.banner-text {
    font-size: 15px;
    margin-left: 28%;
    margin-top: -5%;
    font-weight: 500;
}

.icon{
  position: absolute;
  width: 10em;
  height: 2em;
}

.icon a{
  position: absolute;
  width: 2em;
  height: 2em;
}

.icon a i{
  position: absolute;
  width: 2em;
  height: 2em;
}
